<div class="d-flex align-items-center mx-1">
  <nav aria-label="Page navigation example">
    <ul class="pagination mt-3 ml-3">
      <%= pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<!--      <li class="page-item">-->
<!--        <a href="#" class="btn btn-secondary mx-1" role="button" aria-pressed="true" style="background-color: lightcoral">Previous</a>-->
<!--      </li>-->
<!--      <li class="page-item">-->
<!--        <a href="#" class="btn btn-secondary mx-3" role="button" aria-pressed="true" style="background-color: rosybrown">Next</a>-->
<!--      </li>-->
    </ul>
  </nav>
</div>

<ol class="mr-3">
  <% @jokes.each do |joke| %>
    <div style="background-color:<%= joke.color %>; font-size:16px">
      <li> <%= joke.chuck_joke %> </li>
    </div>
  <% end %>
</ol>
