<div class="d-flex align-items-center mx-1">
  <h2 class="mr-3 mt-1">Random jokes</h2>
  <a class="btn btn-secondary" type="button" href="/random_jokes">
    Get random jokes
  </a>
</div>
<ol class="mt-1 mr-3">
  <% @random_jokes.each do |joke| %>
    <div style="background-color:<%= joke.color %>; font-size:16px">
      <li> <%= joke.chuck_joke %> </li>
    </div>
  <% end %>
</ol>
